{% extends "layout.html" %}

{% block title %}Content{% endblock %}

{% block content %}
    <div class="heading">
        <h1>Image Colorization <span>Demo</span></h1>
        <p> Using Convolutional Neural Networks to colorize Grayscale images</p>
    </div>
    <div class="inner-container">
        <form method="POST" id='ajax'>
            {% csrf_token %}
            <input type="file" name="uploadFile" id="imgUploader" class="d-none">
            <label for="imgUploader" class="file-uploader">
                Drag or click to upload your image
            </label>
            {% load static %}
            <div class="image-preview">
            </div>
            <button type="submit" name="imageLoader">Colorize</button>
        </form>
    </div>
    <script>
        var colorize_url = `{% url 'colorize' %}`;
    </script>
{% endblock %}